<% include ../views/partials/header %>
  <div class='grid'>
    <h1><%= title %></h1>
    
    <a href='/login' class='button'> Login with Instagram</a>
  </div>
<% include ../views/partials/footer %>
